<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <title>It's all in the categories..?</title>
</head>
<body>
  <header class="main-header"><h1>Frän butik, kompis</h1></header>
  <main>
    <div class="category__page">
      <% products.forEach(product=>{ %>
        <div class="category__product">
          <!-- <img src=<%="product.img"%> alt="Ball bild"> -->
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
          <h5><%= product.price %> USD</h5>
        </div>
      <% }); %>
    </div>
  </main>
</body>
</html>