<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>The Home Page</title>
</head>
<body>
    <div class="main-header">
      <div>
        <h1>Welcome to our Clothes Store!</h1>
      </div> 
    </div>
    <div class="all-items">
        <div class="display-items">
            <% displayItems.forEach(function(item) { %>
                <div class="card">
                  <img src="<%=displayItems.img%>" alt="Ball bild">
                    <h2><%= item.name %></h2>
                    <p><%= item.description %></p>
                </div>
            <% }); %>
          </div>
    </div>
</body>
</html>

