<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>The Home Page</title>
</head>
<body>
    <div class="main-header">
        <h1>Welcome to our Clothes Store!</h1>
        <p>Hope you find something amazing to wear</p>
    </div>
    <div class="display-items">
        <ul>
            <% displayItems.forEach(function(item) { %>
                <li>
                    <h2><%= item.name %></h2>
                    <p><%= item.description %></p>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>

