main {
    width: 100%;
    height: 100%;
}

.main-header{
    display: flex;
    justify-content: center;
}

.category__page {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 50px;
}
.category__product {
    border: 1px solid black;
    padding: 1rem;
}
